<footer class="footer">
  <div class="row footer__main">
    <div class="small-12 middle-6 medium-3 columns">
      <a href="{{ '/' | relative_url }}"><img class="footer__brand" src="{{ 'assets/img/brand/logo_napis_white.svg' | relative_url }}" alt="Piráti logo" /></a>
    </div>
    <div class="small-12 middle-6 medium-3 columns">
      <h3 class="t-h5-sub">{{ site.author }}</h3>
      <ul class="no-bullet">
        <li>vedoucí personálního odboru Pirátů</li>
      </ul>
    </div>
    <div class="small-12 middle-6 medium-3 columns">
      <h3 class="footer-nav__headline">Kontakty</h3>
      <ul class="no-bullet">
        <li>
                  <a class="sitenav-social__link" href="https://www.facebook.com/{{site.facebook_username}}"><i class="fi-social-facebook icon"></i> Facebook</a>
        </li>
        <li>
                  <a class="sitenav-social__link" href="mailto:{{site.email}}"><i class="fi-mail icon"></i> E-mail</a>
        </li>
      </ul>
    </div>
    <div class="small-12 middle-6 medium-3 columns">
      <h3 class="footer-nav__headline">Další info</h3>
      <ul class="no-bullet">
        <li> <a href="https://wiki.pirati.cz/lide/jana_kolarikova">Wiki profil</a> </li>
        <li> <a href="/assets/pdf/cv-jana-kolarikova.pdf">Životopis v PDF</a> </li>
      </ul>
    </div>
  </div>

  <div class="footer__copy">
    <div class="row">
      <div class="small-12 columns footer__copy-line">
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/cz/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/cz/88x31.png" /></a> <small>Toto dílo podléhá licenci <a rel="license" href="http://creativecommons.org/licenses/by/3.0/cz/">Creative Commons Uveďte původ 3.0 Česká republika License</a>, detaily <a href="https://github.com/MrKolisCZ/janakolarikova.eu">zde</a>.</small>
      </div>
    </div>
  </div>
</footer>
