<nav class="sitenav">
  <div class="row">
    <div class="columns small-12">
      <ul class="sitenav-items">
        <li class="sitenav-items__item sitenav-items__item--main{% if page.permalink == '' %} sitenav-items__item--active{% endif %}">
          <div class="sitenav-profile">
              <div class="sitenav-profile__brand">
                <a href="{{ '/' | relative_url }}"><img src="{{ 'assets/img/brand/logo_napis_white.svg' | relative_url }}" alt="Logo Piráti" /></a>
              </div>
              <div class="sitenav-profile__author">
                    <a class="sitenav-profile__author-name" href="{{ '/' | relative_url }}">{{ site.author }}<br/> kandidátka v primárních volbách do Europarlamentu</a>
              </div>
          </div>
        </li>
        <li class="sitenav-items__item">
          <ul class="sitenav-links">
            <li class="sitenav-links__link{% if page.permalink == 'zivotopis/' %} sitenav-links__link--active{% endif %}"><a  href="{{ site.baseurl }}/zivotopis/">Životopis</a></li>

            <li class="sitenav-links__link{% if page.permalink == 'co-prosazuji/' %} sitenav-links__link--active{% endif %}"><a href="{{ site.baseurl }}/co-prosazuji/">Co prosazuji</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
